.product-container {
    display: flex;
    flex-direction: row;
    background-color: rgb(236, 232, 232);
    height: 300px;
    width: 500px;
    padding: 10px;
    margin: 5px;
    border: 1px solid rgb(255, 255, 255);
    box-shadow: 0px 0px 5px 0px grey;
    justify-content: space-evenly;
    align-items: center;
}

.product-container img{
    height: fit-content;
    width: fill;
    max-height: 200px;
    max-width: 200px;
}

.product-details {
    width: 70%;
    padding: 15px;
}

.producttitle {
    font-size: 35px;
    font-weight: 500;
}

.price-container {
    display: flex;
    padding: 0px;
    margin: 0px;
    flex-direction: column;
}

.mrp,
.saleprice,
.yousave {
    display: flex;
    margin: 0px;
    line-height: 0px;
    padding: 5px;
}

.saleprice .rate{
    color: rgb(144, 120, 200);
    margin-left: 5px;
}

.mrp .rate{
    color: red;
    margin-left: 5px;
    border: 1px solid;
}

.buy-cart{
    display: flex;
    margin-top: 20px;
    margin-left: 5px;
    justify-content: left;
}

.buy-cart .btn{
    padding: 5px;
    margin-right: 8px;
}